build/
.DS_Store
*.swp
*.lock
profile
.xcodeproj/!*.xcodeproj/project.pbxproj
*xcuserdata/*
*.moved-aside
*.orig
*.pbxproj.orig

*~.nib

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

xcuserdata